.VideoHelper {
  .popupHandler {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999999;
    display: inline-block;
    background-color: white;
    color: black;
    padding: 7px 14px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .popup {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999999;
    display: inline-block;
    background-color: white;
    color: black;
    padding: 7px 14px;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);

    .close {
      cursor: pointer;
      display: inline-block;
      padding: 7px;
    }
  }
}